#page.landing-page {
    background-image: url('../assets/images/blobbg2.svg');
    background-size: cover;

    @include responsive_mobile() {
        background-image: url('../assets/images/mobile-bg.svg');
        background-size: cover;
    }

    .intro-container {
        .btn.viewmore {
            font-size: 20px;
        }
    }
}
