<nav class="navbar navbar-expand-md bg-white navbar-light box-shadow">
    <a class="navbar-brand d-flex align-items-center" href="../index.html">
        <img src="../assets/images/dwlogo.svg" style="width: 25px;" alt="DW logo" />
        <p class="mb-0 ml-2 h3">DW</p>
    </a>
    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Navbar links -->
    <div class="collapse navbar-collapse text-center" id="collapsibleNavbar">
        <ul class="navbar-nav ml-auto py-2">
            <li class="nav-item">
                <a class="nav-link overview" href="../projects/overview.html">My work</a>
            </li>
            <li class="nav-item">
                <a class="nav-link about" href="#">About me</a>
            </li>
            <li class="nav-item">
                <a class="nav-link cv" href="../assets/PDF/dw_cv.pdf" target="blank">CV</a>
            </li>
        </ul>
    </div>
</nav>